@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Inter:wght@200&family=Neonderthaw&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

:root{
    --black:#444;
    --white:#fff;
    --light-gray:#eee;
    --blue:blue;
    --body-bg:#1a1a1a;
    --content:#222222;
    --primary-font:#b7b7b7;
    --muted-font:#888888;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 9000px;
    background: var(--body-bg);
    font-family: 'Dongle', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Neonderthaw', cursive;
    font-family: 'Poppins', sans-serif;
}

section{
    padding: 3rem 6%;
}

header{
    padding: 1rem 6%;
    background: var(--blue);
    z-index: 100;
    position: relative
}

header .header-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Burger Menu */
header .header-1 .burger{
    cursor: pointer;
    display: none;
    z-index: 100;
}

header .header-1 .burger .bars1{
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background: var(--light-gray);
    margin-bottom: 4px;
    transition: 1s;
}

header .header-1 .burger .bars2{
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background: var(--light-gray);
    margin-bottom: 4px;
    transition: 1s;
}

header .header-1 .burger .bars3{
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background: var(--light-gray);
    margin-bottom: 4px;
    transition: 1s;
}
header .header-1 .burger .bars1.change{
    transform: rotate(45deg) translateY(10px);
    transition: 1s;
}

header .header-1 .burger .bars2.change{
    visibility: hidden;
    transition: .1s;
}

header .header-1 .burger .bars3.change{
    transform: rotate(-45deg) translateY(-10px);
    transition: 1s;
}
/* End Burger */

/* Logo Samehadaku */
header .header-1 .logo{
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--white);
}

/* Search bar */
header .header-1 ul{
    list-style: none;
    color: var(--white);
    text-transform: capitalize;
}

header .header-1 .search{
    display: flex;
    position: relative;
    align-items: center;
}
/* End Search */

/* Header input */
header .header-1 .search{
    position: relative;
}

header .header-1 .search input{
    height: 35px;
    width: 250px;
    border: 1px solid var(--light-gray);
}

header .header-1 .search .fa-search{
    top: 10px;
    right: 20px;
    position: absolute;
}

header .header-1 input{
    background: #444;
    position: relative;
}
/* End Input */


/* Toggle Dark */
header .header-1 .toggleDarkLight{
    background: var(--light-gray);
    height: 22px;
    width: 70px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

header .header-1 .toggleDarkLight::before{
    content: '';
    background: var(--black);
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 2px;
    color: var(--black);
    border-radius: 50%;
}

/* Bagian Navbar Desktop */
header .header-1 .navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header .header-1 .navbar ul li a{
    color: var(--white);
    text-decoration: none;
    margin-right: 25px;
    text-transform: capitalize;
    font-weight: 800;
}

header .header-1 .searchMobile{
    display: none;
}

header .header-1 .searchMobile{
    color: var(--white);
    cursor: pointer;
}


/* Side Navbar */
.sidenav{
    background: var(--black);
    display: flex;
    flex-direction: column;
    padding: 1rem 5%;
    width: 100%;
    top: -1000px;
    position: absolute;
    transition: 1s;
    z-index: 100;

}

.sidenav ul{
    list-style: none;
}

.sidenav .listAnime ul{
    padding-left: 7%;
}

.sidenav .listAnime ul li{
    color: var(--light-gray);
    border: none;
}

.sidenav .listAnime ul li a{
    font-size: 1.2rem;
}

.sidenav ul li{
    margin-bottom: 30px;
    border-bottom: 1px solid var(--light-gray);
}

.sidenav ul li a{
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.3rem;
}

/* Sidenav Active */
.sidenav.active{
    top: 70px;
    transition: 1s;
    z-index: 100;
}


/* Section Banner image */
.bannerTop{
    background: var(--body-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bannerTop .contentBanner{
    background: var(--content);
    padding: 10px;
    position: relative;
    width: 900px;
    overflow: hidden;
    height: 25rem;
}
/* Banner top */

/* h3 banner */
.bannerTop .contentBanner h3{
    top: 5px;
    left:6px;
    color: var(--light-gray);
    text-transform: capitalize;    
    position: relative;
}

.bannerTop .contentBanner .cprevnext1{
    position: absolute;
    top: 15px;
    right: 8px;
}

.bannerTop .contentBanner .cprevnext1 a{
    color: var(--primary-font);
    font-size: .8rem;
}

.bannerTop .contentBanner h3:before{
    content: '';
    background: var(--light-gray);
    width: 100%;
    height: .6px;
    position: absolute;
    bottom: 0;
}
/* h3 end banner top */

/* Banner Top ( Swiper Js ) */
.bannerAnime .boxContent{
    position: relative;
    overflow:hidden;
    text-align: center;
    padding: 5px;
    width: 100px;
    margin-top: 15px;
}

.bannerAnime .boxContent .contentImg{
    height: 15rem;
    width: 10rem;
    position: relative;
    object-fit: cover;
    cursor: pointer;
}

.bannerAnime .boxContent .contentImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bannerAnime .boxContent .contentImg .overlay span{
    position: absolute;
    display: none;
    color: var(--muted-font);
}

.bannerAnime .boxContent:hover .contentImg .overlay span{
    display: block;
}

.bannerAnime .boxContent .contentText{
    margin-top: 10px;
    text-align: left;
    position: relative;
    height: 6rem;
    overflow: hidden;
    padding: 5px;
}

.bannerAnime .boxContent .contentText h4{
    color: var(--primary-font);
    text-transform: capitalize;
    position:absolute;
    top: 0;
    left: 0;
    width: 400px;
    font-size: .9rem;
}

.bannerAnime .boxContent .contentText p{
    color: var(--muted-font);
    text-transform: capitalize;
    position:absolute;
    top: 19px;
    left: 0;
    font-size: .8rem;
}
/* End Banner 1 ( Swiper js ) */

/* Overlay Banner 1 */
.bannerAnime .boxContent:hover .contentImg .overlay{
    background-color: rgba(185, 218, 220, .9);
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    transition: 1s;
    justify-content: center;
    display: flex;
    align-items: center;
}

.bannerAnime .boxContent .contentImg .rating{
    position: absolute;
    top: 86%;
}

.bannerAnime .boxContent .contentImg .rating span{
    text-transform: capitalize;
    border-radius: 5px;
}

.bannerAnime .boxContent .contentImg .rating span:nth-child(1){
    color: var(--white);
    background: orange;
    padding: 3px;
    position: absolute;
    left:0;
}

.bannerAnime .boxContent .contentImg .rating span:nth-child(2){
    color: var(--white);
    background: rgba(0, 0, 0, 0.9);
    padding: 3px;
    left:6.5rem ;
    position: absolute;
    display: flex;
    align-items: center;
}

.bannerAnime .boxContent .contentImg .rating span:nth-child(2) i{
    color: var(--white);
    background: rgba(0, 0, 0, 0.9);
    padding: 3px;
    color: yellow;
}
/* End Overlay Banner 1 */

/* Content Sider */
.bannerTop .contentSider{
    background: var(--content);
    padding: 20px;
    width: 270px;
}

.bannerTop .contentSider h3{
    color: var(--white);
    text-transform: capitalize;
}

.bannerTop .contentSider .siderAnime {
    margin-top: 10px;
}

.bannerTop .contentSider .siderAnime .content{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 6px;
}

.bannerTop .contentSider .siderAnime .content::before{
    content: '';
    width: 100%;
    height: 1px;
    background: var(--primary-font);
    position: absolute;
    bottom: 0;
}

.bannerTop .contentSider .siderAnime .content .image{
    margin-right: 3px;
    cursor: pointer;
    overflow: hidden;
}

.bannerTop .contentSider .siderAnime .content .image:hover img{
    transform: scale(1.1);
    transition: .5s;
}

.bannerTop .contentSider .siderAnime .content h4{
    color: var(--primary-font);
    text-transform: capitalize;
}

.bannerTop .contentSider .siderAnime .content h5{
    color: var(--primary-font);
    margin-top: 7px;
    text-transform: capitalize;
    margin-bottom: 7px;
}

.bannerTop .contentSider .siderAnime .content p{
    color: var(--primary-font);
    margin-top: 7px;
    text-transform: capitalize;
    margin-bottom: 7px;
    font-size: .8rem;
}
/* End sider */



/* Second banner */
.secondBanner{
    margin-top: -24rem;
    display: flex;
    justify-content: space-between;
}

.secondBanner .secondContent{
    background: var(--content);
    padding: 10px;
    width: 900px;
}

.secondBanner .secondContent .contentBx{
    width: 450px;
    height: 250px;
    position: relative;
}

.secondBanner .secondContent .contentBx .images{
    width: 100%;
    height: 100%;
    position: relative;
}

.secondBanner .secondContent .contentBx .images img{
    width: 100%;
    height: 100%;
}

.scondbannerhide{
    width: 0px;
    visibility: hidden;
}

.secondBanner .secondContent .contentBx .images .watch{
    top: 10px;
    left: 10px;
}

.secondBanner .secondContent .contentBx .images .watch span:nth-child(2){
    position: absolute;
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--white);
    top: 150px;
    font-size: 1.1rem;
    width: 300px;
    font-weight: 800;
    text-transform: capitalize;
}

.secondBanner .secondContent .contentBx .images .watch span:nth-child(3){
    position: absolute;
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--white);
    top: 180px;
    font-size: 1rem;
    width: 300px;
    font-weight: 800;
    text-transform: capitalize;
}

.secondBanner .secondContent .contentBx .images .watch span:nth-child(4){
    position: absolute;
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--white);
    top: 185px;
    right: 20px;
    font-size: .8rem;
    width: 300px;
    font-weight: 800;
    text-transform: capitalize;
    background: red;
    width: 135px;
}

.label{
    position: absolute;
    background: orange;
    color: var(--white);
    left: 10px;
    top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

.secondBanner .secondContent .contentBx .images .watch span:nth-child(3) i{
    color: yellow;
}






















@media(max-width:1115px){
    header .header-1 .burger{
        display: block;
    }

    header .header-1 .logo{
        margin-left: 25%;
    }

    header .header-1 .search{
        display: none;
    }

    header .header-1 .toggleDarkLight{
        display: none;
    }

    header .header-1 .navbar{
        display: none;
    }

    header .header-1 .searchMobile{
        display: block;
    }

    .contentSider{
        display: none;
    }


    /* Second banner */
    .secondBanner{
        margin-top: -5rem;
    }
    
}


@media(max-width:768px){
    .bannerAnime .boxContent .contentImg{
        height: 10rem;
        width: 10rem;
    }
    .bannerTop .contentBanner{
        height: 17rem;
    }

    .bannerAnime .boxContent .contentImg .rating{
        top: 80%;
    }

    .bannerAnime .boxContent .contentImg .rating span:nth-child(1){
        left:5px;
    }

    .bannerAnime .boxContent .contentImg .rating span:nth-child(2){
        left:5.9rem ;
    }

    .secondBanner .secondContent .contentBx{
        width: 400px;
        height: 250px;
    }
    
}


@media(max-width:480px){
    header .header-1 .logo{
        margin-left: 10%;
    }

    .bannerAnime .boxContent{
        width: 20px;
    }

    .bannerAnime .boxContent .contentImg .rating span:nth-child(1){
        left:5px;
    }

    .bannerAnime .boxContent .contentImg .rating span:nth-child(2){
        left:5.5rem ;
    }

    .secondBanner .secondContent .contentBx{
        width: 150px;
        height: 250px;
    }
    
}