@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Inter:wght@200&family=Neonderthaw&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

:root{
    --black:#444;
    --white:#fff;
    --light-gray:#eee;
    --blue:blue;
    --body-bg:#1a1a1a;
    --content:#222222;
    --primary-font:#b7b7b7;
    --muted-font:#888888;
    --label-color:#e0ac00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--body-bg);
    font-family: 'Dongle', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Neonderthaw', cursive;
    font-family: 'Poppins', sans-serif;
    transition: all 1s;
}

section{
    padding: 3rem 6%;
}

header{
    padding: 1rem 6%;
    background: var(--label-color);
    z-index: 100;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .9);
}

header .header-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Burger Menu */
header .header-1 .burger{
    cursor: pointer;
    display: none;
    z-index: 100;
}

header .header-1 .burger .bars1{
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background: var(--light-gray);
    margin-bottom: 4px;
    transition: 1s;
}

header .header-1 .burger .bars2{
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background: var(--light-gray);
    margin-bottom: 4px;
    transition: 1s;
}

header .header-1 .burger .bars3{
    width: 30px;
    height: 3px;
    border-radius: 4px;
    background: var(--light-gray);
    margin-bottom: 4px;
    transition: 1s;
}
header .header-1 .burger .bars1.change{
    transform: rotate(45deg) translateY(10px);
    transition: 1s;
}

header .header-1 .burger .bars2.change{
    visibility: hidden;
    transition: .1s;
}

header .header-1 .burger .bars3.change{
    transform: rotate(-45deg) translateY(-10px);
    transition: 1s;
}
/* End Burger */

/* Logo Samehadaku */
header .header-1 .logo{
    font-size: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--white);
}

/* Search bar */
header .header-1 ul{
    list-style: none;
    color: var(--white);
    text-transform: capitalize;
}

header .header-1 .search{
    display: flex;
    position: relative;
    align-items: center;
}
/* End Search */

/* Header input */
header .header-1 .search{
    position: relative;
}

header .header-1 .search input{
    height: 35px;
    width: 250px;
    border: none;
    outline: none;
    background: none;
    position: relative;
    border-bottom: 1px solid var(--primary-font);
    color: var(--white);
}

header .header-1 .search .fa-search{
    top: 10px;
    right: 20px;
    position: absolute;
}

header .header-1 input{
    background: var(--primary-font);
    position: relative;
}
/* End Input */


/* Toggle Dark */
header .header-1 .toggleDarkLight{
    background: var(--light-gray);
    height: 22px;
    width: 70px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

header .header-1 .toggleDarkLight::before{
    content: '';
    background: var(--black);
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 2px;
    color: var(--black);
    border-radius: 50%;
}

/* Bagian Navbar Desktop */
header .header-1 .navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

header .header-1 .navbar ul li a{
    color: var(--white);
    text-decoration: none;
    margin-right: 25px;
    text-transform: capitalize;
    font-weight: 800;
}

header .header-1 .searchMobile{
    display: none;
}

header .header-1 .searchMobile{
    color: var(--white);
    cursor: pointer;
}


/* Side Navbar */
.sidenav{
    background: var(--black);
    display: flex;
    flex-direction: column;
    padding: 1rem 5%;
    width: 100%;
    top: -1500px;
    position: absolute;
    transition: 1s;
    z-index: 100;

}

.sidenav ul{
    list-style: none;
}

.sidenav .listAnime ul{
    padding-left: 7%;
}

.sidenav .listAnime ul li{
    color: var(--light-gray);
    border: none;
}

.sidenav .listAnime ul li a{
    font-size: 1.2rem;
}

.sidenav ul li{
    margin-bottom: 30px;
    border-bottom: 1px solid var(--light-gray);
}

.sidenav .listAnime ul li:nth-child(1){
    margin-top: 60px;
}

.sidenav ul li:hover{
    background: var(--label-color);
    transition: 1s;
}

.sidenav ul li a{
    color: var(--white);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.3rem;
}

/* Sidenav Active */
.sidenav.active{
    top: 70px;
    transition: 1s;
    z-index: 100;
}

.sidenav ul{
    list-style: none;
    margin-top: 30px;
}

.hiddenSearch{
    background: var(--content);
    padding: 2rem 8%;
    position: relative;
    top: -100px;
    display: none;
    transition: 1s;
}

.hiddenSearch.change{
    top: 0px;
    display: block;
    transition: 1s;
}

.hiddenSearch ul{
    list-style: none;
}

.hiddenSearch input{
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    position: relative;
    border-bottom: 1px solid var(--primary-font);
    color: var(--white);
}

.hiddenSearch .fa-search{
    top: 40px;
    right: 30px;
    position: absolute;
    color: var(--white);
}

header .header-1 input{
    background: var(--primary-font);
    position: relative;
}


/* Section Banner image */
.bannerTop{
    background: var(--body-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bannerTop .contentBanner{
    background: var(--content);
    padding: 10px;
    position: relative;
    width: 900px;
    overflow: hidden;
    height: 25rem;
}
/* Banner top */

/* h3 banner */
.bannerTop .contentBanner h3{
    top: 5px;
    left:6px;
    color: var(--light-gray);
    text-transform: capitalize;    
    position: relative;
}

.bannerTop .contentBanner .cprevnext1{
    position: absolute;
    top: 15px;
    right: 8px;
}

.bannerTop .contentBanner .cprevnext1 a{
    color: var(--primary-font);
    font-size: .8rem;
}

.bannerTop .contentBanner h3:before{
    content: '';
    background: var(--light-gray);
    width: 100%;
    height: .6px;
    position: absolute;
    bottom: 0;
}
/* h3 end banner top */

/* Banner Top ( Swiper Js ) */
.bannerAnime .boxContent{
    position: relative;
    overflow:hidden;
    text-align: center;
    padding: 5px;
    width: 100px;
    margin-top: 15px;
}

.bannerAnime .boxContent .contentImg{
    height: 15rem;
    width: 10rem;
    position: relative;
    object-fit: cover;
    cursor: pointer;
}

.bannerAnime .boxContent .contentImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bannerAnime .boxContent .contentImg .overlay span{
    position: absolute;
    display: none;
    color: var(--white);
}

.bannerAnime .boxContent:hover .contentImg .overlay span{
    display: block;
}

.bannerAnime .boxContent .contentText{
    margin-top: 10px;
    text-align: left;
    position: relative;
    height: 6rem;
    overflow: hidden;
    padding: 5px;
}

.bannerAnime .boxContent .contentText h4{
    color: var(--primary-font);
    text-transform: capitalize;
    position:absolute;
    top: 0;
    left: 0;
    width: 400px;
    font-size: .9rem;
}

.bannerAnime .boxContent .contentText p{
    color: var(--muted-font);
    text-transform: capitalize;
    position:absolute;
    top: 19px;
    left: 0;
    font-size: .8rem;
}
/* End Banner 1 ( Swiper js ) */

/* Overlay Banner 1 */
.bannerAnime .boxContent:hover .contentImg .overlay{
    background-color: rgba(115, 115, 115, .6);
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    transition: 1s;
    justify-content: center;
    display: flex;
    align-items: center;
}

.bannerAnime .boxContent .contentImg .rating{
    position: absolute;
    top: 86%;
}

.bannerAnime .boxContent .contentImg .rating span{
    text-transform: capitalize;
    border-radius: 5px;
}

.bannerAnime .boxContent .contentImg .rating span:nth-child(1){
    color: var(--white);
    background: var(--label-color);
    padding: 3px;
    position: absolute;
    font-size: .8rem;
    left:6px;
    text-transform: uppercase;
}

.bannerAnime .boxContent .contentImg .rating span:nth-child(2){
    color: var(--white);
    background: rgba(0, 0, 0, 0.9);
    padding: 3px;
    left:6.5rem ;
    position: absolute;
    display: flex;
    align-items: center;
}

.bannerAnime .boxContent .contentImg .rating span:nth-child(2) i{
    color: var(--white);
    background: rgba(0, 0, 0, 0.9);
    padding: 3px;
    color: var(--label-color);
}
/* End Overlay Banner 1 */

/* Content Sider */
.bannerTop .contentSider{
    background: var(--content);
    padding: 20px;
    width: 270px;
}

.bannerTop .contentSider h3{
    color: var(--white);
    text-transform: capitalize;
}

.bannerTop .contentSider .siderAnime {
    margin-top: 10px;
}

.bannerTop .contentSider .siderAnime .content{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 6px;
}

.bannerTop .contentSider .siderAnime .content::before{
    content: '';
    width: 100%;
    height: 1px;
    background: var(--primary-font);
    position: absolute;
    bottom: 0;
}

.bannerTop .contentSider .siderAnime .content .image{
    margin-right: 3px;
    cursor: pointer;
    overflow: hidden;
}

.bannerTop .contentSider .siderAnime .content .image:hover img{
    transform: scale(1.1);
    transition: .5s;
}

.bannerTop .contentSider .siderAnime .content h4{
    color: var(--primary-font);
    text-transform: capitalize;
}

.bannerTop .contentSider .siderAnime .content h5{
    color: var(--primary-font);
    margin-top: 7px;
    text-transform: capitalize;
    margin-bottom: 7px;
}

.bannerTop .contentSider .siderAnime .content p{
    color: var(--primary-font);
    margin-top: 7px;
    text-transform: capitalize;
    margin-bottom: 7px;
    font-size: .8rem;
}
/* End sider */



/* Second banner */
.secondBanner{
    margin-top: -23rem;
    display: flex;
    justify-content: space-between;
}

.secondBanner .secondContent{
    background: var(--content);
    padding: 10px;
    width: 900px;
}

.secondBanner .secondContent .contentBx{
    width: 450px;
    height: 250px;
    position: relative;
}

.secondBanner .secondContent .contentBx .images{
    width: 100%;
    height: 100%;
    position: relative;
}

.secondBanner .secondContent .contentBx .images img{
    width: 100%;
    height: 100%;
}

.scondbannerhide{
    width: 0px;
    visibility: hidden;
}

/* label & rating */
.secondBanner .secondContent .contentBx .images .watch{
    top: 10px;
    left: 10px;
}

.secondBanner .secondContent .contentBx .images .watch span:nth-child(2){
    position: absolute;
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--white);
    top: 175px;
    font-size: 1.1rem;
    width: 300px;
    font-weight: 800;
    text-transform: capitalize;
    cursor: default;
}

.secondBanner .secondContent .contentBx .images .watch i{
    margin-right: 10px;
}

.secondBanner .secondContent .contentBx .images .watch span:nth-child(3){
    position: absolute;
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--white);
    top: 215px;
    font-size: 1rem;
    width: 300px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: default;
}

.secondBanner .secondContent .contentBx .images .watch span:nth-child(4){
    position: absolute;
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--white);
    top: 215px;
    right: 20px;
    font-size: .8rem;
    font-weight: 300;
    text-transform: capitalize;
    background: #ec1313;
    width: 125px;
    cursor: pointer;
}

/* label tv */
.secondBanner .secondContent .contentBx .images .label{
    position: absolute;
    background: orange;
    color: var(--white);
    left: 10px;
    top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: default;
    font-size: .8rem;
}
/* End label tv */

.secondBanner .secondContent .contentBx .images .watch span:nth-child(3) i{
    color: var(--label-color);
}
/* end rating */

/* Overlay gradient */
.secondBanner .secondContent .contentBx .images .overlayGradient{
    background: linear-gradient(rgba(217, 217, 217, .9), rgba(0, 0, 0, .9));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 40%;
}
/* End overlay */

/* List anime */
.listAnime{
    margin-top: -50px;
}

.listAnime .contentAnime{
    background: var(--content);
    padding: 20px 20px;
    max-width: 900px;
    position: relative;
}

/* Pagging */
.listAnime .contentAnime .paging{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.listAnime .contentAnime .paging ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listAnime .contentAnime .paging ul li{
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid var(--muted-font);
    padding: 5px 10px;
    color: var(--muted-font);
}

.listAnime .contentAnime .paging ul li a{
    text-transform: capitalize;
    color: var(--muted-font);
    font-size: .8rem;
    text-decoration: none;
}
/* End pagging */

.listAnime .contentAnime h3{
    color: var(--primary-font);
    text-transform: capitalize;
    margin-bottom: 20px;
}

.listAnime .contentAnime .contentBox{
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
}

.listAnime .contentAnime .contentBox .cards{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.listAnime .contentAnime .contentBox .cards .contentText h4 a{
    text-decoration: none;
    width: 170px;
    overflow: hidden;
    color: var(--primary-font);
}
.listAnime .contentAnime .contentBox .cards .contentText h5{
    color: var(--muted-font);
    text-transform: capitalize;
}
.listAnime .contentAnime .contentBox .cards .contentText h6{
    color: var(--muted-font);
    text-transform: capitalize;
}
.listAnime .contentAnime .contentBox .cards .contentText p{
    font-size: .8rem;
    color: var(--muted-font);
    text-transform: capitalize;
}

.listAnime .contentAnime .contentBox .cards .images{
    position: relative;
    margin-right: 10px;
    width: 150px;
    height: 100px;
    overflow: hidden;
}

.listAnime .contentAnime .contentBox .cards .images:hover img{
    transform: scale(1.2);
    transition: .8s;
}

.listAnime .contentAnime .contentBox .cards .images img{
    width: 100%;
    height: 100%;
}

.bannerBottom{
    margin-top: -60px;
}

.footer{
    margin-top: -30px;
}

.footer p{
    color: var(--white);
    text-align: center;
}
/* ==================================================end page index.html====================================================== */

/* ==================================================page list_anime ==========================================================*/

.listed{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.listed .contentListAnime{
    background: var(--content);
    width: 900px;
    padding: 20px;
    position: relative;
}

.listed .contentListAnime h3{
    color: var(--primary-font);
}

.listed .contentListAnime .descriptionAnime{
    margin-top: 50px;
}

.listed .contentListAnime .descriptionAnime .contentBox .image{
    width: 80px;
    height: 100px;
    margin-right: 20px;
}

.listed .contentListAnime .descriptionAnime .contentBox .image img{
    width: 100%;
    height: 100%;
}

.listed .contentListAnime .descriptionAnime .contentBox{
    display: flex;
    padding: 10px;
    position: relative;
    margin-top: 10px;
}

.listed .contentListAnime .descriptionAnime .contentBox:before{
    content: '';
    height: 1px;
    width: 96%;
    position: absolute;
    bottom: 0;
    background: var(--primary-font);
}

.listed .contentListAnime .descriptionAnime .contentBox .contentText{
    height: 100px;
    overflow: hidden;
    width: 100%;
}


.listed .contentListAnime .descriptionAnime .contentBox .contentText h4{
    color: var(--primary-font);
    text-transform: capitalize;
}

.listed .contentListAnime .descriptionAnime .contentBox .contentText p{
    color: var(--primary-font);
}

/* List a - z */
.listed .contentListAnime .contentListAnimeBox{
    background: var(--content);
    position: relative;
}

.listed .contentListAnime .contentListAnimeBox::before{
    background: var(--primary-font);
    content:'';
    width: 100%;
    height: 1px;
    position: absolute;
}

.listed .contentListAnime .contentListAnimeBox ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listed .contentListAnime .contentListAnimeBox ul li{
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 10px;
    color: var(--primary-font);
    background: var(--black);
    border-radius: 5px;
}

.listed .contentListAnime .contentListAnimeBox ul li a{
    color: var(--primary-font);
    text-decoration: none;
    text-transform: capitalize;
}

.listed .descriptionAnime .contentBox .contentText h4 a{
    color: var(--primary-font);
    text-decoration: none;
}

.listed .descriptionAnime .contentBox .contentText p{
    font-size: .8rem;
}

.listed .contentSider{
    background: var(--content);
    width: 270px;
    padding: 30px;
    height: 400px;
    overflow: hidden;
    display: block;
}

.listed .contentSider h3{
    color: var(--primary-font);
    text-transform: capitalize;
}

.listed .contentSider .siderAnime .content{
    position: relative;
}

.listed .contentSider .siderAnime .content ul{
    list-style: none;
}

.listed .contentSider .siderAnime .content ul li{
    margin-top: 8px;
}

.listed .contentSider .siderAnime .content ul li a{
    color: var(--primary-font);
    text-decoration: none;
    font-size: .8rem;
}

.listed .contentSider .siderAnime .content ul li a i{
    margin-right: 20px;
    cursor: default;
}

.listed .contentSider .siderAnime .content ul li a span{
    position: absolute;
    right: 0;
}














/* ==================================================page list_anime ==========================================================*/
/* =====================================================media query=========================================================== */
@media(max-width:1115px){
    header .header-1 .burger{
        display: block;
    }

    header .header-1 .logo{
        margin-left: 25%;
    }

    header .header-1 .search{
        display: none;
    }

    header .header-1 .toggleDarkLight{
        display: none;
    }

    header .header-1 .navbar{
        display: none;
    }

    header .header-1 .searchMobile{
        display: block;
    }

    .contentSider{
        display: none;
    }

    /* Second banner */
    .secondBanner{
        margin-top: -5rem;
    }

    /*==================== page list anime=============== */
    .listed .contentListAnime{
        background: var(--content);
        width: 100%;
        padding: 20px;
        position: relative;
    }

    .listed .contentSider{
        width: 100%;
    }

}


@media(max-width:768px){
    .bannerAnime .boxContent .contentImg{
        height: 10rem;
        width: 10rem;
    }
    .bannerTop .contentBanner{
        height: 17rem;
    }

    .bannerAnime .boxContent .contentImg .rating{
        top: 80%;
    }

    .bannerAnime .boxContent .contentImg .rating span:nth-child(1){
        left:5px;
    }

    .bannerAnime .boxContent .contentImg .rating span:nth-child(2){
        left:6rem ;
    }

    .secondBanner .secondContent .contentBx{
        width: 400px;
        height: 250px;
    }

    .listAnime .contentAnime .contentBox .cards{
        position: relative;
        display: grid;
        flex-direction: column;
    }
}


@media(max-width:498px){
    header .header-1 .logo{
        margin-left: -2%;
    }

    .bannerAnime .boxContent{
        width: 20px;
    }

    .bannerAnime .boxContent .contentImg .rating span:nth-child(1){
        left:5px;
    }

    .bannerAnime .boxContent .contentImg .rating span:nth-child(2){
        left:5rem ;
    }

    .secondBanner .secondContent .contentBx{
        width: 150px;
        height: 250px;
    }

    .listAnime .contentAnime{
        background: var(--content);
        padding: 10px 10px;
        max-width: 900px;
    }

    .listAnime .contentAnime .contentBox .cards .images{
        position: relative;
        margin-right: 10px;
        width: 120px;
        height: 100px;
    }

    .listAnime .contentAnime .contentBox .cards .contentText h4{
        width: 110px;
        overflow: hidden;
    }
}

@media(max-width:321px){
    .listAnime .contentAnime .contentBox{
        grid-template-columns: auto ;
        grid-row-gap: 20px;
    }
}


